#all_checked{
	margin-bottom: 20px;
}

#multiple-addresses-form-table{
	margin-bottom: 15px;
	margin-top: 30px;
}

#multiple-addresses-form-widget{
	margin-top: 50px;
}

#multiple-addresses-form-widget h4{
	margin-bottom: -10px;
}