.text-bold{
    font-weight: bold;
}
.blog-teaser {
    /*background-color: #ececec;*/
    /*-webkit-border-radius: 10px;*/
    /*-moz-border-radius: 10px;*/
    /*border-radius: 10px;*/
    /*-webkit-box-shadow: 0px 1px 5px #a8a8a8;*/
    /*-moz-box-shadow: 0px 1px 5px #a8a8a8;*/
    box-shadow: 0px 1px 5px #a8a8a8;
    margin-bottom: 40px;
}



.blog-teaser header {
    padding-top: 20px;
    padding-right: 45px;
    padding-left: 45px;
    text-align: center;
}

.blog-teaser .body {
    padding-right: 45px;
    padding-left: 45px;
    margin-bottom: 10px;
    color: #343a3f;
}

.blog-teaser  header hr {
    border-top-color: #ced5db;
    border-bottom: none;
}
.body hr {
    border-top-color: #ced5db;
    border-bottom: none;
}

